@use '../presets' as *;
@use '../mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: $font-size;
  font-family: $font-primary;
  line-height: $line-height;
  font-weight: $font-weight-normal;
}

h1 {
  font-size: 3rem;
  font-weight: $font-weight-medium;
  line-height: $line-height-sm;

  @include md-min {
    font-size: 3rem;
  }

  @include md {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: $font-weight-medium;
  line-height: $line-height-sm;
}

a {
  text-decoration: none;
  color: $color-black;
}