@use '../presets' as *;
@use '../mixins' as *;

.footer {
  background-color: $color-primary;
  color: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;
  &__title {
    font-size: 1.3125rem;
    font-weight: $font-weight-medium;
    margin-bottom: 5px;
  }
  &__description {
    font-size: 0.8125rem;
  }
}