.container{
  width:min(100% - 40px, 1110px);
  margin-inline:auto;
}
.container-sm{
  width:min(100% - 40px, 540px);
  margin-inline:auto;
}

.visually-hidden{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding:0;
  white-space:nowrap;
  -webkit-clip-path:inset(100%);
          clip-path:inset(100%);
  clip:rect(0 0 0 0);
  overflow:hidden;
  visibility:hidden;
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin:0;
  padding:0;
  list-style-type:none;
}

html{
  font-size:16px;
  font-family:"Roboto", sans-serif;
  line-height:1.64;
  font-weight:400;
}

h1{
  font-size:3rem;
  font-weight:500;
  line-height:1.2;
}

h2{
  font-size:2rem;
  font-weight:500;
  line-height:1.2;
}

a{
  text-decoration:none;
  color:#000000;
}

.header{
  padding-top:67px;
  padding-bottom:141px;
  background-color:#eeeff1;
}
.navbar__list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:0 30px;
  margin-left:-10px;
}
.navbar__link{
  position:relative;
  display:block;
  letter-spacing:0.1em;
  padding:10px;
  text-transform:uppercase;
}
.navbar__link--active{
  color:#34547a;
  font-weight:500;
}
.navbar__link::after{
  content:"";
  position:absolute;
  display:block;
  bottom:0;
  left:-10px;
  right:-10px;
  height:3px;
  background-color:#34547a;
  border-radius:3px;
  -webkit-transform:scaleX(0);
      -ms-transform:scaleX(0);
          transform:scaleX(0);
  -webkit-transform-origin:center;
      -ms-transform-origin:center;
          transform-origin:center;
  opacity:0;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}
.navbar__link:hover::after{
  -webkit-transform:scaleX(1);
      -ms-transform:scaleX(1);
          transform:scaleX(1);
  opacity:1;
}

.hero{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  max-width:540px;
}
.hero__title{
  margin-bottom:60px;
  margin:0 0 44px;
}
.hero__description{
  margin-bottom:56px;
  color:#727272;
}
.hero__button{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:0.5em;
  background-color:#34547a;
  color:#ffffff;
  letter-spacing:0.1em;
  min-width:225px;
  min-height:65px;
  text-transform:uppercase;
}

.process{
  background-color:#eeeff1;
  padding-top:110px;
  padding-bottom:90px;
  text-align:center;
}
.process__title{
  font-weight:500;
  line-height:1.2;
  margin-bottom:40px;
}
.process__description{
  color:#727272;
}

.video{
  padding-bottom:100px;
  background-color:#eeeff1;
  margin-top:-40px;
}
.video__iframe{
  display:block;
  width:100%;
  height:auto;
  aspect-ratio:16/9;
  border:0;
}

.experience{
  background-color:#34547a;
  color:#ffffff;
  padding-top:100px;
  padding-bottom:100px;
}
.experience__container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:40px;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.experience__item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:20px;
}
.experience__item-description{
  line-height:1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.experience__item-value{
  font-size:1.3125rem;
  font-weight:500;
}
.experience__item-picture{
  -webkit-box-ordinal-group:0;
      -ms-flex-order:-1;
          order:-1;
}
.experience__item-image{
  display:block;
}

.footer{
  background-color:#34547a;
  color:#ffffff;
  padding-top:50px;
  padding-bottom:50px;
}
.footer__title{
  font-size:1.3125rem;
  font-weight:500;
  margin-bottom:5px;
}
.footer__description{
  font-size:0.8125rem;
}

.about{
  background-color:#ffffff;
  padding-top:110px;
  padding-bottom:90px;
  text-align:center;
}
.about__title{
  font-weight:500;
  line-height:1.2;
  margin-bottom:40px;
}
.about__description{
  color:#727272;
}
@media (768px <= width){
  h1{
    font-size:3rem;
  }
  .navbar{
    margin-bottom:144px;
  }
}
@media (width < 768px){
  h1{
    font-size:2.5rem;
  }
  .navbar{
    margin-bottom:60px;
  }
}
@media (width <= 768px){
  .header{
    padding-top:67px;
    padding-bottom:141px;
  }
}
@media (max-width: 767px){
  .header{
    padding-bottom:60px;
    padding-top:40px;
  }
}