
$font-size: 16px;
$font-primary: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;

$letter-spacing: 0.1em;
$line-height-sm: 1.2;
$line-height: 1.64;

$container-primary: 1110px;
$container-sm: 540px;
$gap: 20px;
$gap-sm: ($gap * 0.5);
$gap-md: ($gap * 1.5);
$gap-lg: ($gap * 2);

/* Breakpoints
 * Responsive breakpoints for different screen sizes
 */
$ul: 1380px; // Ultra large (very large screens)
$xl: 1200px; // Extra large (large screens)
$lg: 992px; // Large (medium screens)
$md: 768px; // Medium (tablets)
$sm: 576px; // Small (mobile devices)
$xs: 480px; // Extra small (small mobile devices)
$vs: 420px; // Very small (very small devices)
$us: 360px; // Ultra small (ultra small devices)